* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 10px 20px;
}
header a{
    color: #fff;
    text-decoration: none;
}
header a:hover{
    color: red;
}
header h1 a{
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
}
nav ul li{
    float: left;
    margin-left: 20px;
}
.fa-cart-shopping:hover{
    color: blue !important;}
.ItemListContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.ItemListContainer p{
    margin: 10px 0;
}

