* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding: 10px 20px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: red;
}

header h1 a {
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul li {
    float: left;
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 25px;
}

.material-icons {
    cursor: pointer;
}

.material-icons:hover {
    color: red !important;
}

.ItemListContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ItemListContainer div {
    margin: 10px 0;
    display: flex;
}

.counter {
    width: 50px;
    border: 1px solid;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}